*
# core R files for reproduction
!utils.R
!f_clust.R
!render_manuscript.R
!demo-fcluster.qmd

# additional files for reproduction
!_quarto.yml
!references.bib
!custom-reference-doc.docx

!create_hex.R
!logo.png
.Rproj.user
