*
# core R files for reproduction
!utils.R
!f_clust.R
!render_manuscript.R
!manuscript.qmd

# additional files for reproduction
!references.bib
!custom-reference-doc.docx

!create_hex.R
!logo.png
.Rproj.user
